/*
** Respond mixins
*/

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src: url('@/assets/fonts/' + $alias + '/' + $name + '.woff') format('woff');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}